@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #0a0a0a;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
